@charset "UTF-8";

/* 基本 */
body {
  font-family: "Noto Sans JP", sans-serif;
}

/* リッセット / ノーマライズ / サニタイズ */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  width: 84%;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .container {
    width: 91%;
    max-width: 1240px;
  }
}

/* ヘッダー */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}
@media (min-width: 900px) {
  .header .container {
    height: 100px;
  }
}
/* ヘッダー：サイト名 */
.site {
  display: flex;
  align-items: center;
}

.site img {
  width: 42px;
  margin-right: 10px;
}

.site .corp {
  color: #333333;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
}

.site .desc {
  color: #707f89;
  font-size: 10px;
  line-height: 1.4;
}

@media (min-width: 900px) {
  .site img {
    width: 59px;
    margin-right: 18px;
  }

  .site .corp {
    font-size: 20px;
  }

  .site .desc {
    font-size: 12px;
  }
}

/* ナビゲーションボタン */
.nav-button {
  box-sizing: content-box;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 20px;
  height: 14px;
  cursor: pointer;
  color: #2e5180;
}

.nav-button::before,
.nav-button::after {
  content: "";
  display: block;
  height: 2px;
  background-color: currentColor;
  transform: translateY(5px);
}

.nav-button::before {
  transform: translateY(-5px);
  box-shadow: 0 6px currentColor;
}
